body {
    background-image: url("https://wallpapers.com/images/featured/2k-amoled-dozdzh1ucrhzuqb4.jpg");
    z-index:0;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#main {
  transition: all 0.2s ease-out;
  
  position:absolute;
  top:calc(100px + 6vh);
  left: 1.5vw;
  padding: 0 1vw;
  
  width: 95vw;
  height: calc(93vh - 100px);
  
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  
  overflow-x:hidden;
  overflow-y:auto;
  list-style-type: none;
  
  &:hover {
      transition: all 0.2s ease-out;
    
      box-shadow: 0 0 10px #fff;
      backdrop-filter: blur(30px);
  }
}

.user-frame {
  transition: all 0.2s ease-out;

  margin: 0.5% 0;
  
  width: 100%;
  height: 100px;
  
  
  border-radius: 30px;
  border: 2px dashed #cacaca;
  
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);

  &:hover {
    transition: all 0.2s ease-out;
    
    border: 2px dashed #cacaca;
    
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 48px 35px 20px rgba(0,0,0,0.1);
    
    cursor:pointer;

    & span {
      transition: all 0.2s ease-out;
      
      color: #3f3f3f;
    }
  }
}

.user-icon {
  position:absolute;
  margin: 10px 0 0 10px;
  
  width:80px;
  height:80px;
  
  border-radius: 30px;
}

.user-nick {
  position:absolute;
  margin: 30px 0 0 120px;
  
  font: 40px "Lilita One";
  color:#fff;
}

#connected-users-text {
  transition: all 0.2s ease-out;
  
  position:absolute;
  top:calc(100px + 1vh);
  left: 1.5vw;

  width: 97vw;
  
  font: 4vh "Lilita One";
  color: #fff;
  text-align:center;

  border-radius:30px;

  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);

  &:hover {
    transition: all 0.2s ease-out;
    
    color: #3f3f3f;

    box-shadow: 0 0 10px #fff;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.7);
  }
}
curl $REPLIT_DB_URL/key
